.container{
     padding:0 10px;
}
header{
    height:7vh;
    margin:auto;
    width:100vw;
    background-color: #CE0505;
    position:sticky;
    top:0;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 99999;
}
.Overlay{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(202, 198, 198, 0.75);
}
.Modal{
    
    position:absolute;
  
    width:30vw;
    height:50vh;
    background-color: #ffffff;
   
}
.direction-column
{
    flex-direction: column;
}
.navbar{
    height:inherit;
    margin:auto;
    width:80vw;
    background-color: #CE0505;
    position:sticky;
    top:0;
    
}
.logo{
    height:inherit;
    width:4vw;
    border:1px solid black;
    border-radius: 100%;
    font-size:30px;
    color:#EB2929;
    padding:2px;
    box-sizing: border-box;
    font-weight: bold;
    background-color: white;
}
.space-between{
    justify-content: space-between;
}
.sign{
    background-color: #ffffff;
}
.loginHeader{
    background-color: beige;
    height:10vh;
    padding: 5px;
}
.loginHeader button{
    height:4vh;
    background-color: #ffffff;
    border: 2px solid #eee;
}
.loginHeader button:hover{
   
    background-color: #eee;
    
}
.marginAbove{
    margin-top: 2vh;
    width:60%;
    height:4vh;
   border:1px solid #eee;
   border-radius: 2px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.crossStyle{
   font-size: 3vh;
}
div,nav{
    height:inherit;
}
nav ul li{
    list-style: none;
    padding: 0 12px;
    color:white;
}
.left{
    justify-content: flex-start;
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.right{
    justify-content: flex-end;
}
.justify-content{
    justify-content: flex-end;
}
.align-items{
    align-items: center;
}
@media  (max-width:1200px) {
    .logo{
        height:inherit;
        width:6vw;
        border:1px solid black;
        border-radius: 100%;
        font-size:30px;
        color:#CE0505;;
        padding:2px;
        box-sizing: border-box;
        font-weight: bold;
        background-color: white;
    }
}
@media  (max-width:968px) {
    .logo{
        height:inherit;
        width:8vw;
        border:1px solid black;
        border-radius: 100%;
        font-size:30px;
        color:maroon;
        padding:2px;
        box-sizing: border-box;
        font-weight: bold;
        background-color: white;
    }
}
@media  (max-width:768px) {
    .logo{
        height:inherit;
        width:9vw;
        border:1px solid black;
        border-radius: 100%;
        font-size:30px;
        color:#CE0505;
        padding:2px;
        box-sizing: border-box;
        font-weight: bold;
        background-color: white;
    }
    .Modal{
        
        width:80%;
    }
}
@media  (max-width:576px) {
    .logo{
        height:inherit;
        width:13vw;
        border:1px solid black;
        border-radius: 100%;
        font-size:30px;
        color:#CE0505;
        padding:2px;
        box-sizing: border-box;
        font-weight: bold;
        background-color: white;
    }
    .Modal{
       
        width:100%;
    }
}
